<!DOCTYPE html>
<html lang="en">
<head>
    <title>Berger Dream Homes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/custom.css" rel="stylesheet">
    <link rel="icon" href="resources/images/favicon.jpg">
    <script src="resources/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="resources/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="resources/css/slick-theme.css" />

    <script type="text/javascript" src="resources/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="resources/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="resources/js/slick.js"></script>
    <script type="text/javascript" src="resources/js/slick.min.js"></script>
    <script src="resources/js/custom.js"></script>
    <style>
        #more {
            display: none;
            margin-top: 0.5rem;
        }

        abbr {
            display: block;
            margin-bottom: 0.5rem;
        }

        .abbr-one-line {
            display: initial;
        }

        .btn-dark:hover {
            cursor: pointer;
        }

        .form-control.select-css.form-ico {
            background: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            padding-left: 0rem !important;
            border-bottom: 1px solid #bfbfbf;
            padding: 0;
            padding: 0.5rem 0rem 0rem !important;
            font-weight: 500;
            height: calc(2.5rem + 2px);
        }

            .form-control.select-css.form-ico:focus {
                outline: none;
                box-shadow: none;
            }
    </style>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="resources/images/logo.png" alt="" title="" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a href="index.html" class="nav-link active" aria-current="page">Home</a></li>
                        <li class="nav-item"><a href="service.html" class="nav-link">Service</a></li>
                        <li class="nav-item"><a href="ideas.html" class="nav-link">Ideas</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
                        <li class="nav-item"><a href="contact-us.html" class="nav-link">Contact Us</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Request Quote</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- banner -->
        <div id="mainBanner" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#mainBanner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#mainBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#mainBanner" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" style="background-image: url(resources/images/mainbanner1.jpg) ;  ">
                    <!-- <picture class="d-lg-none d-xl-none d-md-block">

                      <img
                        src="resources/images/mainbanner1.jpg"
                        alt=""
                        class="img-fluid"
                      />
                    </picture> -->
                    <div class="container">
                        <div class="d-grid">
                            <div class="dark-content">
                                <h2>Your Dream Home<br /> Your Way. <br> Perfectly Crafted Interiors</h2>
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                                <a href="" class="btn-dark">I Want To Try</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url(resources/images/mainbanner2.jpg) ">
                    <div class="container">
                        <div class="d-grid">
                            <div class="dark-content">
                                <h2>Your Dream Home<br /> Made Reality 1</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a href="" class="btn-dark">I Want To Try</a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- <div class="carousel-item" style="background-image: url(resources/images/mainbanner3.jpg) ">
                  <div class="container">
                    <div class="d-grid">
                    <div class="dark-content">
                      <h2>Your Dream Home<br/> Made Reality 2</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      <a href="" class="btn-dark">I Want To Try</a>
                    </div>

                  </div>
                  </div>
                </div>     -->
            </div>

            <ul class="rightSticky">
                <li>
                    <a href="#">
                        <img src="resources/images/whatsapp-icon.svg" class="img-fluid">

                    </a>
                </li>
                <li>
                    <a href="#consultForm">
                        <img src="resources/images/email-icon.svg" class="img-fluid">

                    </a>
                </li>
            </ul>

            <div class="container arrow-container">
                <button class="carousel-control-prev" type="button" data-bs-target="#mainBanner" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mainBanner" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <!-- end of banner -->
    </header>

    @RenderBody()
    <!-- end of main container -->
    <footer class="footer">
        <div class="container">
            <div class="d-grid">
                <div class="left-section">
                    <div class=" ">
                        <ul class="footer-links">
                            <li><a href="#">Sitemap</a></li>
                            <li class="vertical-divider-line">|</li>
                            <li><a href="#">Disclaimer</a></li>
                            <li class="vertical-divider-line">|</li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li class="vertical-divider-line">|</li>
                            <li><a href="#">*Terms &amp; Conditions</a></li>
                            <li class="vertical-divider-line d-none d-lg-block">|</li>
                        </ul>
                        <div class="footer-text">
                            ©
                            <script>document.write(new Date().getFullYear())</script> Berger Paints India Limited - All Rights Reserved.<span class="vertical-divider-line">|</span><span class="copyright"> Website by <a href="http://www.hgsinteractive.com" title="HGS Interactive" target="_blank" rel="noopener">HGS Interactive</a></span>
                        </div>
                    </div>

                </div>
                <div class="right-section">
                    <p>Connect with us :</p>
                    <ul>
                        <li><a href="#"><img src="resources/images/facebook-icon.png"></a></li>
                        <li><a href="#"><img src="resources/images/twitter-ico.png"></a></li>
                        <li><a href="#"><img src="resources/images/youtube-icon.png"></a></li>
                        <li><a href="#"><img src="resources/images/linkedin.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- The Modal -->
    <div class="modal" id="consultFormModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thank You!</h4>
                    <button type="button" class="btn-close btnModalClose"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Your request sent successful!!!
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn-dark btnModalClose">Close</button>
                </div>

            </div>
        </div>
    </div>




    <script>
        function myFunction() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("myBtn");

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Read more";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Read less";
                moreText.style.display = "block";
            }
        }
    </script>
 

<script type="text/javascript" src="/resources/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/resources/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/resources/js/slick.js"></script>
<script type="text/javascript" src="/resources/js/slick.min.js"></script>
<script src="/resources/js/custom.js"></script>

</body>

@RenderSection("Scripts", required: false)

</html>

