@{
    Layout = "_Layout.cshtml";
}

<!-- main container -->
<section class="about-us py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 left-pad">
                <h3>
                    Your Wish For Home Interiors,<br class="d-lg-block d-none">
                    Our Design Services!
                </h3>
            </div>
            <div class="col-lg-7 left-pad">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.  amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.  dolore magna aliqua. </p>
            </div>
        </div>
    </div>
</section>

<section class="design dark-bg-slider">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-lg-4 dark-bg align-self-center">
                <div class="w-border left-side py-3">
                    <h3 class="text-white">
                        Full <br>
                        Home Interiors
                    </h3>
                    <p class="text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                    </p>
                    <button type="button" class="btn btn-outline my-3">Book This For Me</button>
                </div>
            </div>
            <div class="col-lg-8 p-0">
                <div class="serviceHomeSlider">
                    <div class="item">
                        <img src="resources/images/home-interiors-1.jpg" class="img-fluid" />
                    </div>
                    <div class="item">
                        <img src="resources/images/home-interiors-2.jpg" class="img-fluid" />
                    </div>
                    <div class="item">
                        <img src="resources/images/home-interiors-1.jpg" class="img-fluid" />
                    </div>
                    <div class="item">
                        <img src="resources/images/home-interiors-2.jpg" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 text-center pb-5">
                <h3>Service That Is Crafted With Detailings</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.  amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 pb-3 pb-lg-0">
                <img src="resources/images/img2.jpg" class="img-fluid" />
            </div>
            <div class="col-sm-6 position-relative">
                <div class="points">
                    <ul class="row">
                        <li class="col-sm-6">
                            <p>Wood Work, Cupboards, Storage Units etc.</p>
                        </li>
                        <li class="col-sm-6">
                            <p>Electrical and Lighting Solutions</p>
                        </li>
                        <li class="col-sm-6">
                            <p>Tiling and Plumbing Solutions</p>
                        </li>
                        <li class="col-sm-6">
                            <p>Civil Work as required by the Design</p>
                        </li>
                        <li class="col-sm-6">
                            <p>Ceiling Solutions</p>
                        </li>
                        <li class="col-sm-6">
                            <p>Waterproofing and Painting</p>
                        </li>
                    </ul>
                </div>
                <div class="service-btn">
                    <a href="javascript:;" class="btn btn-service">Avail The Service Now</a>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="steps generic-margin">
    <div class="container">
        <div class="intro-para w-75 mx-auto">
            <h3 class="text-center mb-3">Simple Steps To Your Dream Home</h3>
            <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>

        <div id="stepsSlider" class="carousel slide" data-bs-ride="carousel" data-interval="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#stepsSlider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"><span class="number">1</span> <span>Book An Appointment</span></button>
                <hr class="divider">
                <button type="button" data-bs-target="#stepsSlider" data-bs-slide-to="1" aria-label="Slide 2"><span class="number">2</span> <span>Book our designers</span></button>
                <hr class="divider">
                <button type="button" data-bs-target="#stepsSlider" data-bs-slide-to="2" aria-label="Slide 3"><span class="number">3</span> <span>Personalise Your Design</span></button>
                <hr class="divider">
                <button type="button" data-bs-target="#stepsSlider" data-bs-slide-to="3" aria-label="Slide 4"><span class="number">4</span> <span>Production Initiation</span></button>
                <hr class="divider">
                <button type="button" data-bs-target="#stepsSlider" data-bs-slide-to="4" aria-label="Slide 5"><span class="number">5</span> <span>Move <br />In</span></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-grid">
                        <div>
                            <img src="resources/images/steps.png" class="img-fluid" />
                        </div>
                        <div>
                            <h3>Book An Appointment</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-grid">
                        <div>
                            <img src="resources/images/steps.png" class="img-fluid" />
                        </div>
                        <div>
                            <h3>Book Our Designers</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="d-grid">
                        <div>
                            <img src="resources/images/steps.png" class="img-fluid" />
                        </div>
                        <div>
                            <h3>Personalise Your Design</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="d-grid">
                        <div>
                            <img src="resources/images/steps.png" class="img-fluid" />
                        </div>
                        <div>
                            <h3>Production Initiation</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="d-grid">
                        <div>
                            <img src="resources/images/steps.png" class="img-fluid" />
                        </div>
                        <div>
                            <h3>Move In</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos</p>
                        </div>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#stepsSlider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#stepsSlider" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
<section class="dark-bg bg-d-partners">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 align-self-center">
                <div class="py-3 my-3 py-lg-5 my-lg-5 pe-lg-5 text-white">
                    <h2 class="pb-3">Our Design Partners</h2>
                    <p class="text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos</p>
                </div>
            </div>
            <div class="col-md-6 img-height px-0">
                <img src="resources/images/design-partners-right.jpg" class="d-block d-md-none img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="py-3 text-center">Many Reasons Why You Should Choose Us</h3>
                <div class="table-responsive">
                    <table class="table table-bordered text-center" style="border-top: transparent;">
                        <tr>
                            <th width="25%" style="border: 0;">&nbsp;</th>
                            <th width="40%" style="background: #efe8e0; border-top: 1px #bababa4a; solid; border-right: 1px #bababa4a; solid !important;" class="p-3 border-end">Choosing Berger Dream Home</th>
                            <th width="35%" style="background: #efe8e0; border-top: 1px #bababa4a; solid;" class="p-3">Choosing Other Interior Services</th>
                        </tr>
                        <tr>
                            <td width="25%" align="center" class="td-dark p-3">Price</td>
                            <td width="40%" class="p-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dolores eos</td>
                            <td width="35%" class="p-3">Natus error sit voluptatem accusantium doloremque dolores eos</td>
                        </tr>
                        <tr>
                            <td width="25%" align="center" class="td-dark p-3">The Process</td>
                            <td width="40%" class="py-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dolores eos</td>
                            <td width="35%" class="py-3">Natus error sit voluptatem accusantium doloremque dolores eos</td>
                        </tr>
                        <tr>
                            <td width="25%" align="center" class="td-dark p-3">The Process</td>
                            <td width="40%" class="py-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dolores eos</td>
                            <td width="35%" class="py-3">Natus error sit voluptatem accusantium doloremque dolores eos</td>
                        </tr>
                        <tr>
                            <td width="25%" align="center" class="td-dark p-3">Quality</td>
                            <td width="40%" class="py-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dolores eos</td>
                            <td width="35%" class="py-3">Natus error sit voluptatem accusantium doloremque dolores eos</td>
                        </tr>
                        <tr>
                            <td width="25%" align="center" class="td-dark p-3">Warranty</td>
                            <td width="40%" class="py-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dolores eos</td>
                            <td width="35%" class="py-3">Natus error sit voluptatem accusantium doloremque dolores eos</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="design generic-margin right-bg-color">
    <div class="container-fluid pe-0">
        <div class=" d-flex justify-content-end content">
            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 col-12">
                <div class="col-lg-7 col-md-9 col-sm-12 col-xs-12 col-12 pb-5">
                    <h3>Home Transformation, Some Inspiration For You</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices  </p>
                </div>
                <div class="serviceDesignSlider">
                    <div class="item">
                        <img src="resources/images/slide-1.jpg" class="img-fluid" />
                        <h4>Are you inspired? If yes, then book an appointment for your Dream Home with<br class="d-none d-lg-block d-xl-none"> our experts today!</h4>
                    </div>
                    <div class="item">
                        <img src="resources/images/slide-2.jpg" class="img-fluid" />
                        <!-- <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4> -->
                    </div>
                    <div class="item">
                        <img src="resources/images/slide-1.jpg" class="img-fluid" />
                        <h4>Are you inspired? If yes, then book an appointment for your Dream Home with<br class="d-none d-lg-block d-xl-none"> our experts today!</h4>
                    </div>
                    <div class="item">
                        <img src="resources/images/slide-2.jpg" class="img-fluid" />
                        <!-- <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4> -->
                    </div>
                </div>
                <a href="javascript:;" class="btn btn-service">Get in Touch with experts</a>
            </div>
        </div>
    </div>
</section>

<section class="testimonials generic-margin">
    <div class="container">
        <h3 class="text-center mb-3">Happy Clients</h3>
        <p class="text-center">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form </p>
        <div class="testimonial">
            <div class="item">
                <div class="d-grid">
                    <div class="left-section">
                        <img src="resources/images/testimonail1.jpg" class="img-fluid" />
                    </div>
                    <div class="right-section">
                        <h4>"Such a seamless process!"</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled  </p>
                        <small>By Suresh Jadhav - Mumbai</small>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="d-grid">
                    <div class="left-section">
                        <img src="resources/images/testimonail2.jpg" class="img-fluid" />
                    </div>
                    <div class="right-section">
                        <h4>"Such a seamless process!"</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </p>
                        <small>By Suresh Jadhav - Mumbai</small>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="d-grid">
                    <div class="left-section">
                        <img src="resources/images/testimonail1.jpg" class="img-fluid" />
                    </div>
                    <div class="right-section">
                        <h4>"Such a seamless process!"</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </p>
                        <small>By Suresh Jadhav - Mumbai</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq generic-margin">
    <div class="container">
        <h3 class="mb-3">Frequently Asked Questions</h3>
        <div class="accordion" id="myAccordion">
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingOne">
                    <button type="button" class="accordion-button  " data-bs-toggle="collapse" data-bs-target="#collapseOne">What is Berger Dream Homes service?</button>
                </h3>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                    <div class="card-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingTwo">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Is only new home projects undertaken or is renovation also undertaken?</button>
                </h3>
                <div id="collapseTwo" class="accordion-collapse collapse " data-bs-parent="#myAccordion">
                    <div class="card-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingThree">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">Do I need to be in town and visit site regularly?</button>
                </h3>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                    <div class="card-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingFour">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">Do I have to procure the raw materials needed?</button>
                </h3>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                    <div class="card-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingFive">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">What services do you offer?</button>
                </h3>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                    <div class="card-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingSix">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">Who all should I contact during the course of the project?</button>
                </h3>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                    <div class="card-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

